---
---

@import "{{ site.theme }}";

@media (prefers-color-scheme: dark) {
    body {
        background: #0d1117;
        color: #c9d1d9;
    }

    a:link {
        color: #58a6ff;
    }

    a:visited {
        color: #8e96f0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #c9d1d9;
    }
}
